@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-bg: rgb(138, 138, 138);
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    /* font-size: 1.2rem; */
    background-color: var(--body-bg);
}

.timer{
    font-size: 1.3rem;
}
.container-flex{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .text-section{
    width: 1200px;
    height: 200px;
    overflow-y: auto;
} */
.text-section{
    position: relative;
}

.text-section  textarea{
    position: relative;
    top: 0px;
    font-family: "poppins";
    font-size: 1.4rem;
    border: none;
    resize: none;
    text-align: justify;
    /* visibility:collapse; */
    /* background-color: red; */
    background-color: var(--body-bg);
    color: black;
}

.text-section  textarea:focus{
    outline: none;
    border: none;
}

.text-section > .text{
    position: relative;
    font-family: "poppins";
    font-size: 1.4rem;
    width: 1410px;
    /* text-align: justify; */
    pointer-events: none;
}
.text::after{
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit Magnam dolorem adipisci commodi ipsam officiis consequuntur vero veniam quidem Dolore neque aliquam pariatur ut maxime vitae unde sapiente corporis molestiae tenetur ad error voluptatem praesentium deserunt similique nostrum illum iure eveniet ipsum est totam ex aspernatur Eligendi esse voluptas quibusdam maiores molestiae modi nisi nesciunt animi nostrum fugiat officia dolore consectetur magnam sunt aperiam dolorem laboriosam veritatis corporis dignissimos delectus Error dignissimos eius architecto ipsum obcaecati itaque voluptas dolor possimus Sit nam sequi necessitatibus distinctio qui dolorum blanditiis facere odio repellendus enim suscipit ab officia velit sunt ut iste praesentium delectus";
    /* background-image: url("./wisewallet.jpg"); */
    z-index: 11;
    inset: 0;
    position: absolute;
    color: black;
    opacity: 0.4;
}

.result-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.wpm{
    font-size: 3rem;
    font-weight: 500;
}

.section{
    display: flex;
    flex-direction: row;
}